@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Smythe&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'inter', sans-serif;
    font-optical-sizing: auto;
    /* background-color: ; */
}